
.containerPretoEdicao{
  background-Color: #1E1E1E;
}

.containerPretoEdicaoMob{
  display: none;
}


.tituloedicao{
    font-size: 10rem;
    font-weight: bold;
    color: #000;
    font-weight: 100;
    font-family: 'Poetsen One';
    margin-bottom: 10px;
    text-align: end;
    margin-right: 20%;
}

.titulo2edicao{
    font-size: 10rem;
    font-weight: bold;
    color: #000;
    font-weight: 100;
    font-family: 'Poetsen One';
    margin-bottom: 10px;
    text-align: end;
    margin-right: 40%;
}

.linha1titulo{
    background-color: #A790E0;
    width: 60%;
    border: 1px solid black;
}

.linha4titulo{
    background-color: #A790E0;
    width: 20%;
    border: 1px solid black;
}


.linha2titulo{
    background-color: #729ACC;
    width: 50%;
    margin-left: 30%;
    border: 1px solid black;
}

.linha3titulo{
    background-color: #729ACC;
    width: 20%;
    height: 15.6em;
    border: 1px solid black;
}

.conteudoHorizontalEdicao {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border: 2px solid #313131;
  }

  .SubtextoEdicao {
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }

  .h2inicial{
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
  }

  .videosHorizontal {
    width: 60%;
    height: 40em;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
    margin-top: 2%;
}

.videosVertical {
    width: 60%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
    margin-top: 2%;
}

.SubtituloPaginaEdicao {
    color: #A790E0;
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    font-family: 'Poetsen One';
    margin-top: 10%;
  }

  .imagemEdicao {
    width: 70%;
    margin-left: 6em; /* Espaçamento entre a imagem e o parágrafo */
    margin-right: 5em;
    border:  1px solid white;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
    transition: 0.5s;
  }
  
  

  .overlayPortE:hover .imagemEdicao {
    opacity: 0.2; /* Faz a imagem ficar branca */
    transform: scale(1.05); /* Aumenta o tamanho */
    border: white 2px solid;
    border-radius: 50px;
  }
  
  .overlayPortE {
    position: relative;
    display: inline-block;
    padding: 1em;
  }
  
  .overlayPortE:hover .overlayPortE-text {
    opacity: 1;
  }
  
  .overlayPortE-text {
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-family: "Overpass Mono", serif;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Garante que o texto não interfere no hover */
  }

  .arrowdown{
    width: 5em;
    margin: 0 auto;
  }

  .logoLinguagensE{
    width: 8%;
    margin-top: 0;
    margin-left: 1.2%;
  }

  @media (max-width: 1680px) {

    .logoLinguagensE{
      width: 8%;
      margin-top: 0;
      margin-left: 3.5%;
    }
    
    .videosHorizontal {
      width: 60%;
      height: 35em;
      display: block;
      margin: 0 auto;
      box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
      margin-top: 2%;
  }

}


  @media (max-width: 1440px) {

    .titulo2edicao{
      font-size: 10rem;
      font-weight: bold;
      color: #000;
      font-weight: 100;
      font-family: 'Poetsen One';
      margin-bottom: 10px;
      text-align: end;
      margin-right: 30%;
  }

  .overlayPortE-text {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-family: "Overpass Mono", serif;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Garante que o texto não interfere no hover */
  }

  .videosHorizontal {
    width: 60%;
    height: 30em;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
    margin-top: 2%;
}

.containerPretoEdicao{
  background-Color: #1E1E1E;
}
  }

  @media (max-width: 1366px) {
    .containerPretoEdicao{
      background-Color: #1E1E1E;
    }

    .imagemEdicao {
      width: 60%;
      margin-left: 6em; /* Espaçamento entre a imagem e o parágrafo */
      margin-right: 5em;
      border:  1px solid white;
      border-radius: 50px;
      box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
      transition: 0.5s;
    }

    .overlayPortE-text {
      position: absolute;
      top: 50%;
      left: 55%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.3rem;
      font-family: "Overpass Mono", serif;
      text-align: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none; /* Garante que o texto não interfere no hover */
    }

    .logoLinguagensE{
      width: 8%;
      margin-top: 0;
      margin-left: 0%;
    }

    .videosHorizontal {
      width: 70%;
      height: 30em;
      display: block;
      margin: 0 auto;
      box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
      margin-top: 2%;
  }

  .videosVertical {
    width: 70%;
    height: 30em;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
    margin-top: 2%;
}

  
  }

  @media (max-width: 1280px) {
    .containerPretoEdicao{
      background-Color: #1E1E1E;
    }

    
.tituloedicao{
  font-size: 8rem;
  font-weight: bold;
  color: #000;
  font-weight: 100;
  font-family: 'Poetsen One';
  margin-bottom: 10px;
  text-align: end;
  margin-right: 20%;
}

.titulo2edicao{
  font-size: 8rem;
  font-weight: bold;
  color: #000;
  font-weight: 100;
  font-family: 'Poetsen One';
  margin-bottom: 10px;
  text-align: end;
  margin-right: 40%;
}

.linha3titulo{
  background-color: #729ACC;
  width: 20%;
  height: 10.4em;
  border: 1px solid black;
}


  }

  @media (max-width: 480px){
    .containerPretoEdicao{
      display: none;
    }

    
.containerPretoEdicaoMob{
  background-Color: #1E1E1E;
  display: block;
}

.tituloedicao{
  font-size: 5rem;
  font-weight: bold;
  color: #000;
  font-weight: 100;
  font-family: 'Poetsen One';
  text-align: end;
  margin-left: 5%;
}


.linha1titulo{
  background-color: #A790E0;
  width: 80%;
  border: 1px solid black;
}

.linha4titulo{
  background-color: #A790E0;
  width: 30%;
  margin-left: 40%;
  border: 1px solid black;
}

.titulo2edicao{
  font-size: 5rem;
  font-weight: bold;
  color: #000;
  font-weight: 100;
  font-family: 'Poetsen One';
  margin-bottom: 10px;
  text-align: end;
  margin-left: 5%;
}


.linha2titulo{
  background-color: #729ACC;
  width: 60%;
  text-align: center;
  margin-left: 40%;
  border: 1px solid black;
}

.imagemEdicao {
  width: 50%;
  margin-left: 6em; /* Espaçamento entre a imagem e o parágrafo */
  margin-right: 5em;
  margin-bottom: 5%;
  border:  1px solid white;
  border-radius: 50px;
  box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
  transition: 0.5s;
}

.explicacaoEdicao{
  color: whitesmoke;
  width: 90%;
  margin: auto;
  text-align: center;
}

.logoLinguagensE{
  width: 28%; 
  margin: 0 auto; /* Centraliza horizontalmente */
  display: block; /* Necessário para centralizar imagens */
}

.logoLinguagensEditores{
  width: 23%; 
  margin: 0 auto; /* Centraliza horizontalmente */
}

.SubtituloPaginaEdicao {
  color: #A790E0;
  font-size: 3rem;
  font-weight: 100;
  text-align: center;
  font-family: 'Poetsen One';
  margin-top: 10%;
}

.videosHorizontal {
  width: 90%;
  height: 15em;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
  margin-top: 5%;
}

.containerDrinks{
  margin-top: 10%;
}
  }
