/*#1E1E1E*/

.tituloedicao{
    font-size: 10rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    text-align: end;
    margin-right: 20%;
}

.titulo2edicao{
    font-size: 10rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    text-align: end;
    margin-right: 40%;
}

.linha1titulo{
    background-color: #A790E0;
    width: 60%;
    border: 1px solid black;
}

.linha4titulo{
    background-color: #A790E0;
    width: 20%;
    border: 1px solid black;
}


.linha2titulo{
    background-color: #729ACC;
    width: 50%;
    margin-left: 30%;
    border: 1px solid black;
}

.linha3titulo{
    background-color: #729ACC;
    width: 20%;
    height: 13.4em;
    border: 1px solid black;
}

.conteudoHorizontalEdicao {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border: 2px solid #313131;
  }

  .SubtextoEdicao {
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
  }

  .h2inicial{
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
    margin: 0 auto;
  }

  .videosHorizontal {
    width: 60%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
    margin-top: 2%;
}

.SubtituloPaginaEdicao {
    color: #A790E0;
    font-size: 5rem;
    text-align: center;
    font-family: Cloudsoft;
    font-weight: 100;
    margin-top: 10%;
  }
