.logoLinguagensH{
    width: 12%;
    margin-top: 0;
    margin-left: 2.1%;
  }

  .TituloContainerWeb {
    color: #fff;
    font-size: 10rem;
    margin-bottom: 5%;
    font-family: Peanut Butter;
    font-weight: 100;
    animation: fadeIn 2s ease-in-out;
  }

  .wavewebazul{
    width: 110%;
    margin-bottom: -5%;
  }

  iframe {
  width: 100%;
  border: none;
  height: 70vh; /* 50% da altura da janela de visualização */
}

.SliderHorizontal {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-left: 3%;
  width: 58%; /* Certifique-se de que o contêiner pai pode crescer */
}
