@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=DM+Serif+Text:ital@0;1&family=Faculty+Glyphic&family=Glass+Antiqua&family=Lobster&display=swap');
/*verde maneirin - background: #c6d5c6;*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Overpass+Mono:wght@300..700&family=Poetsen+One&display=swap');

@font-face {
  font-family: "Peanut Butter";
  src: url(../src/assets/Peanut\ Butter.ttf);
}

@font-face{
  font-family: "Cloudsoft";
  src: url(../src/assets/CloudSoft-Bold-700.otf);
}

.containerHomeMob{
  display: none;
}

.containerAboutMob{
  display: none;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #854feb;
  
}

.wrapper-main {
  width: 95%; 
  height: 90vh;
  margin: 5vh auto; 
  border: 2px solid #854feb;
  border-radius: 50px;
  display: flex;
  box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur(14.4px);
}

.highlight {
  color: transparent; /* Remove o preenchimento da cor da fonte */
  -webkit-text-stroke: 1px #3a3633; /* Adiciona um contorno ao texto */
  text-stroke: 1px #3a3633; /* Suporte para navegadores que não usam o prefixo -webkit- */
  transition: 0.5s ;
}

.highlight:hover {
  color: #7a3bee;
  -webkit-text-stroke: 0.5px #7a3bee; 
  text-stroke: 0; 
  transition: 0.5s ;
}


.circuloroxo {
  position: absolute; /* Position the circle absolutely within the container */
  top: 10%; /* Adjust the position as needed */
  left: 55%; /* Adjust the position as needed */
  width: 20%; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  transition: 0.5s;
  
}

.circulosemnada {
  position: absolute; /* Position the circle absolutely within the container */
  top: 30%; /* Adjust the position as needed */
  left: 70%; /* Adjust the position as needed */
  width: 20%; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
  transition: 0.5s;
}


.links-content {
  grid-column: 1 / 2;
  grid-row: 2 / 2;
  font-size: 2.5vh;
  color: #010409;
  font-weight: 100;
  display: flex;
  font-family: "Overpass Mono", serif;;
  gap: 10%;
  text-align: center;
}


html, body{
  font-family: "Overpass Mono", serif;;
  background: whitesmoke;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.nav-links{
  display: flex;
}

.logo {
  position: relative; /* Necessário para o posicionamento da seta */
}

.logo, .nav-item{
  margin: 2em;
  color: #3a3633;
  font-weight: 400;
  font-size: 1.3vw;
  display: flex;
  align-items: center;
}

.arrow-icon {
  position: absolute;
  top: 50%; /* Centraliza a seta verticalmente */
  left: 85%; /* Ajuste o valor conforme necessário para posicionar corretamente a seta ao lado do texto */
  transform: translateY(-50%);
  width: 1.5em;
  opacity: 0; /* A seta estará invisível por padrão */
  transition: 0.5s;
}


.logo:hover .arrow-icon {
  opacity: 1; /* A seta fica visível quando passar o mouse sobre o container */
  transform: translateX(30%) translateY(-50%);;
  transition: 0.5s;
}

h3{
  position: relative; /* Necessário para o posicionamento da seta */
}

.arrow-iconlink {
  position: absolute;
  top: 50%; /* Centraliza a seta verticalmente */
  left: 95%; /* Ajuste o valor conforme necessário para posicionar corretamente a seta ao lado do texto */
  transform: translateY(-115%);
  width: 1.5em;
  opacity: 0; /* A seta estará invisível por padrão */
  transition: 0.5s;
}

h3:hover .arrow-iconlink {
  opacity: 1;
  transform: translateX(30%) translateY(-115%);
  transition: 0.5s;
}




.h1Portfolio{
  width: 50%;
  position: absolute;
  top: 40%;
  font-family: "Josefin sans";
  left: 30%;
  transform: translate(-50%, -50%);
  font-weight: 500;
  font-size: 4vw;
  line-height: 1; 
  text-transform: uppercase;
}

.euHome{
  width: 32%;
  position: absolute;
  top: 60%;
  color: #3a3633;
  left: 21%;
  transform: translate(-50%, -50%);
  font-family: "Overpass Mono", serif;
  font-weight: 100;
  font-size: 1.2vw;
  line-height: 1.2;
  text-transform: uppercase;
}



.image-content {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
  
}


.fotominha {
  width: 60%;
  margin-top: 30%;
  object-fit: contain;
  z-index: 1;
  transition: width 0.5s ease, margin-top 0.5s ease;
}

.fotominha:hover {
  width: 65%;
}

.fotominha:hover ~ .circuloroxo{
  transform: translateX(30%) translateY(10%);
  transition: 0.5s ease;
}

.fotominha:hover ~ .circulosemnada {
  transform: translateX(-20%) translateY(-20%);
  transition: 0.5s ease;
}


.containerHome {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 85% 1fr;
  gap: 20px;
  width: 95%;
  height: 85%;
}

.text-content {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 20px;
  height: 80%;
}

.underline{
  text-decoration: none;
  font-weight: 500;
  position: relative;
  color: #3F3B37;
  display: flex;
}


a{
  text-decoration: none;
  font-weight: 500;
  position: relative;
  color: #3F3B37;
  display: flex;
  transition: 0.5s;
}

a:hover{
  color: #7a3bee;
  transition: 0.5s;
}

.underline::after{
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  color: #854feb;
  background: #854feb;
  transition: width .2s;
}

.underline:hover::after{
  width: 100%;
  color: #854feb;
}

.icons {
  margin-right: 2%;
  width: 1.5em;
  margin-bottom: 0.2em;
}

.iconsNav {
  margin-right: 2%;
  width: 1.5em;
  margin-bottom: 0.5em;
  margin-right: 0.2em;
}

.containerProjects {
  grid-column: 2 / 2;
  grid-row: 1 / 2;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.containerProjects::-webkit-scrollbar {
  width: 8px; /* Largura da scrollbar */
}

.containerProjects::-webkit-scrollbar-track {
  background: #f0e6ff; /* Cor de fundo da track */
  border-radius: 10px;
}

.containerProjects::-webkit-scrollbar-thumb {
  background: #854feb; /* Cor da barra roxa */
  border-radius: 10px; /* Deixa a barra com bordas arredondadas */
}

.containerProjects::-webkit-scrollbar-thumb:hover {
  background: #5e2dbf; /* Cor da barra ao passar o mouse */
}

/* Para navegadores que suportam scrollbar-color */
.containerProjects {
  scrollbar-color: #854feb #f0e6ff; /* Barra roxa e track clara */
  scrollbar-width: thin; /* Define a largura fina */
}

.imageProjects {
  width: 22em;
  height: auto;
  background-color: transparent;
  position: relative;
}

.projects-content {
  border: #6096a8 2px solid;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: block;
  width: 90%;
  box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
  transition: opacity 0.3s ease, transform 0.3s ease;
}



.projects-content:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.overlay {
  position: relative;
  display: inline-block;
  padding: 1em;
}

.overlay:hover .projects-content {
  opacity: 0.2; /* Faz a imagem ficar branca */
  transform: scale(1.05); /* Aumenta o tamanho */
  border: #6096a8 2px solid;
  border-radius: 50px;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 46%;
  transform: translate(-50%, -50%);
  color: #247894;
  font-size: 1.5rem;
  font-family: "Overpass Mono", serif;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none; /* Garante que o texto não interfere no hover */
}

/* Exibe o texto ao passar o mouse */
.overlay:hover .overlay-text {
  opacity: 1;
}

.slide-out{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: #854feb;
  transform-origin: top;
}

.slide-in{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: #854feb;
  transform-origin: bottom;
}

.slide-inva{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: #598BA4;
  transform-origin: top;
}

.slide-outva{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: #598BA4;
  transform-origin: bottom;
}

.slide-inEdit{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background: #A790E0;
  transform-origin: top;
}

.slide-outEdit{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background: #A790E0;
  transform-origin: bottom;
}

.blur-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.7); /* Cor do fundo do overlay */
  filter: blur(5px); /* Aplica o blur */
  pointer-events: none; /* Não interage com os cliques */
  z-index: 3; /* Coloca o overlay acima de outros elementos */
  transition: filter 1s ease-in-out; /* Transição suave para remover o blur */
}

.containerHome.no-blur .blur-overlay {
  filter: blur(0); /* Remove o blur */
}

.nav-item.active .underline {
  color: #854feb; /* Escolha uma cor de destaque */
}

@media (max-width: 1680px) {

  .image-content {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .fotominha {
    width: 65%;
    margin-top: 30%;
    object-fit: contain;
    z-index: 1;
    margin-right: 5%;
    transition: width 0.5s ease, margin-top 0.5s ease;
  }
  
  .fotominha:hover {
    width: 70%;
  }
  
  .fotominha:hover ~ .circuloroxo{
    transform: translateX(30%) translateY(10%);
    transition: 0.5s ease;
  }
  
  .fotominha:hover ~ .circulosemnada {
    transform: translateX(-20%) translateY(-15%);
    transition: 0.5s ease;
  }

  .circuloroxo {
    position: absolute; /* Position the circle absolutely within the container */
    top: 12%; /* Adjust the position as needed */
    left: 53%; /* Adjust the position as needed */
    width: 22%; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    transition: 0.5s;
    
  }
  
  .circulosemnada {
    position: absolute; /* Position the circle absolutely within the container */
    top: 35%; /* Adjust the position as needed */
    left: 68%; /* Adjust the position as needed */
    width: 22%; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    transition: 0.5s;
  }

  .logo, .nav-item{
    margin: 2em;
    color: #3a3633;
    font-weight: 400;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
  }

  .h1Portfolio{
    width: 50%;
    position: absolute;
    top: 40%;
    font-family: "Josefin sans";
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 4.5vw;
    line-height: 1; 
    text-transform: uppercase;
  }
  
  .euHome{
    width: 32%;
    position: absolute;
    top: 58%;
    color: #3a3633;
    left: 21%;
    transform: translate(-50%, -50%);
    font-family: "Overpass Mono", serif;
    font-weight: 100;
    font-size: 1.3vw;
    line-height: 1.2;
    text-transform: uppercase;
  }


}

@media (max-width: 1440px) {

  .imageProjects {
    width: 18em;
    height: auto;
    background-color: transparent;
    position: relative;
  }

}

@media (max-width: 1366px) {


  .image-content {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .fotominha {
    width: 55%;
    margin-top: 20%;
    object-fit: contain;
    z-index: 1;
    margin-right: 5%;
    transition: width 0.5s ease, margin-top 0.5s ease;
  }
  
  .fotominha:hover {
    width: 65%;
  }
  
  .fotominha:hover ~ .circuloroxo{
    transform: translateX(30%) translateY(10%);
    transition: 0.5s ease;
  }
  
  .fotominha:hover ~ .circulosemnada {
    transform: translateX(-20%) translateY(-15%);
    transition: 0.5s ease;
  }

  .circuloroxo {
    position: absolute; /* Position the circle absolutely within the container */
    top: 15%; /* Adjust the position as needed */
    left: 56%; /* Adjust the position as needed */
    width: 18%; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    transition: 0.5s;
    
  }
  
  .circulosemnada {
    position: absolute; /* Position the circle absolutely within the container */
    top: 35%; /* Adjust the position as needed */
    left: 70%; /* Adjust the position as needed */
    width: 18%; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    transition: 0.5s;
  }

  .h1Portfolio{
    width: 50%;
    position: absolute;
    top: 40%;
    font-family: "Josefin sans";
    left: 30%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 4.0vw;
    line-height: 1; 
    text-transform: uppercase;
  }

  .euHome{
    width: 32%;
    position: absolute;
    top: 58%;
    color: #3a3633;
    left: 21%;
    transform: translate(-50%, -50%);
    font-family: "Overpass Mono", serif;
    font-weight: 100;
    font-size: 1.2vw;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .links-content {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
    font-size: 2.5vh;
    color: #010409;
    font-weight: 100;
    display: flex;
    font-family: "Overpass Mono", serif;;
    gap: 10%;

    text-align: center;
  }

  .containerHome {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 85% 1fr;
    gap: 20px;
    width: 95%;
    height: 82%;
  }

  .logo, .nav-item{
    margin: 2em;
    color: #3a3633;
    font-weight: 400;
    font-size: 1.3vw;
    display: flex;
    align-items: center;
  }

  .imageProjects {
    width: 15em;
    height: auto;
    background-color: transparent;
    position: relative;
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    color: #247894;
    font-size: 1.0rem;
    font-family: "Overpass Mono", serif;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Garante que o texto não interfere no hover */
  }

  .arrow-iconlink {
    position: absolute;
    top: 55%; /* Centraliza a seta verticalmente */
    left: 95%; /* Ajuste o valor conforme necessário para posicionar corretamente a seta ao lado do texto */
    transform: translateY(-115%);
    width: 1.5em;
    opacity: 0; /* A seta estará invisível por padrão */
    transition: 0.5s;
  }

}

@media (max-width: 1280px) {

  .imageProjects {
    width: 14em;
    height: auto;
    background-color: transparent;
    position: relative;
  }

}

@media (max-width: 480px){

  .wrapper-main {
    width: 100%; 
    height: 100%;
    margin: 5vh auto; 
    border:  none;
    border-radius: none;
    display: flex;
    box-shadow: none ;
    flex-direction: column;
    align-items: center;
    -webkit-backdrop-filter: none ;
  }

  .nav {
    width: 95%;
    height: 7%;
    display: flex;
    justify-content: center;
    z-index: 2;
    background-color: whitesmoke;
    border: 1px #854feb solid;
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
    position: fixed; /* Fixa a posição */
    bottom: 2%;
  }

  .iconMob{
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: -5%;
  }


  .logo {
    display: none;
  }

  .iconsNav{
    width: 30%;
  }

  .nav-item{
    margin: 0;
    color: #3a3633;
    font-weight: 400;
    font-size: 3vw;
    align-items: center;
    flex-direction: column;
  }

  .containerHome{
    display: none;
  }

  .containerHomeMob {
    display: flex;
    width: 95%;
    max-height: 85vh; /* Garantindo que não ultrapasse 90% da altura da viewport */
    padding: 1%;
    border: 1px solid #7a3bee;
    overflow-y: scroll;
    border-radius: 50px;
    background-color: whitesmoke;
    box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
    flex-direction: column;

}

  .containerAboutMob{
    display: flex;
    width: 95%;
max-height: 83vh; /* Garante que o elemento não ultrapasse a altura da tela */
padding: 2%;
border: 1px solid #7a3bee;
border-radius: 50px;
background-color: whitesmoke;
box-shadow: 0 4px 30px rgba(1, 1, 1, 0.2);
flex-direction: column;
overflow-y: auto; /* Adiciona rolagem vertical */
position: fixed; /* Mantém o elemento na mesma posição em todas as telas */
left: 0;
right: 0;
margin: auto;

  }


  .text-contentMob{
    display: flex;
    flex-direction: column;
  }

  .h1PortfolioMob{
    width: 90%;
    text-align: center;
    font-family: "Josefin sans";
    font-weight: 500;
    font-size: 10vw;
    line-height: 1; 
    text-transform: uppercase;
  }

  .topoHomeMob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fotosHomeMob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    align-items: center;
  }

  .fotominhaMob{
    width: 50%;
    z-index: 2;
    margin-bottom: -10%;
  }

  .circuloroxoMob {
    position: fixed; /* Fixa o elemento na viewport */
    width: 40%; /* Ajuste do tamanho conforme necessário */
    transition: 0.5s;
    bottom: 10%; /* Ajuste a posição conforme necessário */
    right: 10%; /* Ajuste a posição conforme necessário */
    z-index: 1; /* Garante que o elemento fique abaixo ou acima de outros elementos conforme necessário */
}
  
  .circulosemnadaMob {
    position: absolute; /* Position the circle absolutely within the container */
    width: 40%; /* Adjust the size as needed */
    bottom: 50%;
    left: 40%;
    transition: 0.5s;
  }

  .conteudoHorizontalHomeMob {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .linkHorizontalMob {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 5%;
  }

  .euHomeMob{
    width: 80%;
    color: #3a3633;
    font-family: "Overpass Mono", serif;
    font-weight: 100;
    font-size: 4vw;
    text-align: center;
    margin-top: 5%;
    line-height: 1.2;
    text-transform: uppercase;
  }

  .h3PortfolioMob{
    width: 100%;
    text-align: center;
    font-family: "Josefin sans";
    font-weight: 500;
    font-size: 7vw;
    margin-top: 20%;
    margin-bottom: 5%;
    text-transform: uppercase;
  }

  .iconsMobile{
    transform: scale(1.85);
  }

  .containerProjects {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr; /* Define uma única coluna */
    justify-items: center;
  }

}